$primary-color:#399836;
$secundary-color: #F35D0E;
$secundary-white-color:#E65E0E;
$primary-text-color: #276026;
$gray-text-color: #d8d8d8;
$dark-gray-text-color: #979797;
$line-color: #e5e5e5;
$sidebar-background-color:#f9f9f9;
$sidebar-color-background: #E8E8E8;
$color-irrigation: #4E6B9C;