.fc-today{
  background:transparent !important;
  .fc-day-number{
    margin-top: 1%;
    margin-right:2%;
    color:white;
    background: #ff6c02;
    -webkit-box-shadow: 10px 10px 44px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 44px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 44px -13px rgba(0,0,0,0.75);
    border-radius: 50%;
    width: 22px;
    height: 21px;
    padding-top: 2px !important;
    padding-left: 4px !important;
    padding-right: 0px !important;
  }
}
.fc-event-container{

  background: #ff6c02;
  border: 0 !important;
}

.fc-other-month{
  background:$gray-text-color;
  color:$dark-gray-text-color !important;
}
.calendar-title{
  @include set_family('Semibold');
  color: $dark-gray-text-color;
  text-transform: uppercase;
  font-size:20px;
  letter-spacing: 2px;
  margin-top:5%;
  @include responsive("max-width:1300px") {
    font-size:18px;
  }
  small{
    margin-top:1%;
    display:block;
    @include set_family('LightItalic');
    text-transform: none;
    font-size:16px;
    @include responsive("max-width:1300px") {
      font-size:16px;
    }
    letter-spacing: 0.5px;
  }
}

.fc-event{
  @include set_family('Bold');
  padding: 3%;
  border-color: #ff6c02 !important;
  border-radius:0 !important;
  background:#ff6c02 !important;
  font-size:16px;
  -webkit-box-shadow: -3px 0px 22px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 0px 22px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 0px 22px -9px rgba(0, 0, 0, 0.75);
  cursor:pointer;
  &.past{
    background: white !important;
    border-width:2px;
    color: $secundary-color !important;
  }
  &.future{
    border-width:0px !important;
    background: $secundary-color !important;
  }
}

.close-btn{
  position:absolute;
  right:4%;
  top:4%;
  background: #d5d5d5;
  width: 30px;
  padding: 7px;
  cursor:pointer;
}

.fc-content{
  padding:4%;
  border:0 !important;
}

#calendar{
  margin-right:15%;
  margin-bottom:5%;
  width:1202px;
  h2{

  }
}
fc-sun{
  width:150px;
}

.fc-head{
  @include set_family();
  color: $dark-gray-text-color;
  text-transform: uppercase;
  letter-spacing:1px;
}
.fc-row{
  @include set_family('Semibold');
  color: $dark-gray-text-color;
  height:100px !important;
  width:1200px;
}
.fc-scroller{
  height:500px !important;
  width:1215px;

}
.fc-widget-header{
  height:50px !important;
  vertical-align:middle;
  .fc-day-header{
    vertical-align:middle;
  }
}

select.form-control {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.sweet-overlay {
  border-radius: 0 !important;

}


.sweet-alert {
  border-radius: 0 !important;

  h2{
    @include set_family();
  }
  p{
    @include set_family();
  }
  &[data-has-confirm-button=false][data-has-cancel-button=false] {
    border-radius: 0 !important;

    .sa-button-container {
      border-radius: 0 !important;

    }
  }

  button {
    border-radius: 0 !important;
    @include set_family('Semibold');
    &:focus, &.cancel:focus {
      border-radius: 0 !important;

    }

    &.confirm {
      border-radius: 0 !important;

    }
    &.cancel {
      border-radius: 0 !important;

      &:hover {

      }
    }
  }


  input {
    border-radius: 0 !important;

  }

  fieldset .sa-input-error {
    border-radius: 0 !important;

  }

  .sa-error-container {
    border-radius: 0 !important;
  }
}


// Animations

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(animateErrorIcon) {
  0%    { transform: rotateX(100deg), scale(0.5); -webkit-transform: rotateX(100deg), scale(0.5); opacity: 0; }
  100%  { transform: rotateX(0deg),   scale(0.5); -webkit-transform: rotateX(0deg),   scale(0.5); opacity: 1; }
}